html
  head
    title El super sitio del pelafustan del Ben Jaa MihnGharSia
    link(rel="stylesheet" href="app.css")

  body
    div Hello World

    script(src="app.js")
    script  require("initialize")
